* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}


nav {
  width: 100%;
  height: 50px;
  background: transparent;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  text-align: left;
  z-index: 2;
}
nav svg {
  background: transparent;
}
nav a {
  background: transparent;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
nav a:hover {
  color: #50c9ce;
  text-decoration: underline;
  transition: 0.3s ease;
}
section {
  padding: 80px 0;
}
#hero {
  background: #2e382e;
}
.mainhero {
  background: #2e382e;
  width: 100%;
  min-height: 50vh;
  color: white;
  margin: 4rem 0 100px 0;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.dev {
  font-size: 4rem;
}
.name {
  font-size: 2rem;
}
.hero {
  font-size: 1.5rem;
  color: rgb(180, 178, 178);
}
.buttonsquad {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background: #4ec9d0;
  margin: 30px;
  width: 130px;
  height: 40px;
  border: 0px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px white;
}
#but2 {
  border: none;
  background: transparent;
}
#but2:hover {
  background: #4ec9d0;
}
#but2 a {
  color: white;
}
button a {
  background: transparent;
  color: black;
  text-decoration: none;
}
button:hover {
  background: teal;
  transition: ease-in-out 500ms;
}
#portfolio {
  width: 100%;
  min-height: 100vh;
  background: #354035;
  color: white;
  text-align: center;
}
.portfolio {
  font-size: 3rem;
  margin-bottom: 30px;
  background: #354035 !important;
}
.portfolio:hover {
  text-decoration: underline;
  transition: ease-in-out 500ms;
}
#projects {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}
.projects {
  border: 1px solid white;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  z-index: 1;
}
.projects:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}
.weatherimg {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
#about {
  color: white;
  min-height: 80vh;
  background: #212f21;
}
.aboutme {
  text-align: center;
  font-size: 3rem;
}
.aboutme:hover {
  transition: ease-in-out 500ms;
  text-decoration: underline;
}
.aboutdiv {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.aboutimg {
  margin-left: 0px;
  background: black;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  float: left;
}
#skills {
  min-height: 40vh;
  background: #2e382e;
  color: white;
}
.skills {
  font-size: 3rem;
  padding-top: 10px;
  text-align: center;
}
.skills:hover {
  text-decoration: underline;
}
#contact {
  background: #212f21;
  height: 100vh;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 20px;
  max-width: 500px;
  height: 70px;
  border-radius: 20px;
  border: none;
  color: black;
  font-size: 1rem;
  word-spacing: normal;
  padding: 8px 12px;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  font-size: 1rem;
  word-spacing: normal;
  min-width: 500px;
  min-height: 100px;
  border-radius: 20px;
  padding: 8px 12px;
  box-sizing: border-box;
}
.contact {
  text-align: center;
  margin-bottom: 50px;
}
.contact h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.send {
  background: #6366f1;
  position: relative;
  right: 30px;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  box-shadow: none;
}
.send:hover {
  background: #6366f1;
  opacity: 0.5;
  transform: translateY(-5px);
  transition: ease-in-out 300ms;
}
#footer {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20dvh;
  color: white;
  background: #111827;
}
.facons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
i {
  font-size: 20px;
  margin-right: 0px;
  background: transparent;
  margin: 0px;
  color: white;
  text-decoration: none;
}
@media screen and (max-width:425px){
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: -50px;
    gap: 10px;
  }
  .mainhero {
    margin: 0;
  }
 .dev {
   font-size: 3rem;
 } 
 .name{
   font-size: 1.5rem;
 }
  .hero{
    font-size: 1rem;
  }
  .aboutdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .aboutimg {
    width: 300px;
    height: 300px;
  }
  .aboutme,.portfolio,.skills,.touch{
    font-size: 2rem
 }
  #projects {
    height: auto;
    flex-direction: column;
  }
  #skills {
    height: 100dvh;
  }
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  input {
    margin-bottom: 20px;
    height: 70px;
    max-width: 400px;
    border-radius: 20px;
    border: none;
    color: black;
    font-size: 1rem;
    word-spacing: normal;
    padding: 8px 12px;
    box-sizing: border-box;
  }
  
  textarea {
    font-size: 1rem;
    word-spacing: normal;
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
  }
  
  .send {
    background: #6366f1;
    position: relative;
    right: 30px;
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 50px;
    box-shadow: none;
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    position: relative;
    left: 35px;
  }

}



